{% extends "layout.html" %}
{% block title %}{{ super() }} - Upload Image{% endblock %}
{% block content %}
  <legend class="border-bottom mb-4">Upload an image</legend>
  <form method="POST" action="" enctype="multipart/form-data">
    {{ img_form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ img_form.picture.label() }}
        {{ img_form.picture(class="form-control-file") }}
        {% if img_form.picture.errors %}
          {% for error in img_form.picture.errors %}
            <span class="text-danger">{{ error }}</span></br>
          {% endfor %}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ img_form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
{% endblock content %}
